@model BusinessManagementSystemApp.Models.SalesSaveViewModel
@{
    Layout = "~/Views/Shared/Dashboard.cshtml";
}

<!-- page content -->
<div class="" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <form class="form-horizontal form-label-left" novalidate action="" method="post" enctype="multipart/form-data">
                <div class="col-md-5 col-sm-12 col-xs-5">
                    <span class="section">Sales Add</span>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-6 col-xs-4" for="CustCode">
                            @Html.LabelFor(c => c.CustomerModelsId) <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-8">
                            @Html.DropDownListFor(c => c.CustomerModelsId, Model.CustomerList, "select Customer", htmlAttributes: new { @class = "form-control", required = "required" })
                            <span style="color:#0094ff; font-size:12px; float:right; right:0xp; cursor:pointer;" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus-circle"></i>New Customer</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-6 col-xs-4" for="CustEmail">
                            @Html.LabelFor(c => c.ProductsId) <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-8">
                            @Html.TextBoxFor(c => c.ProductsId, null, htmlAttributes: new { @class = "form-control", required = "required", placeholder = "example@gmail.com" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-6 col-xs-4" for="CustName">
                            @Html.LabelFor(c => c.Date) <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-8">
                            @Html.TextBoxFor(c => c.Date, null, htmlAttributes: new { @class = "form-control", required = "required", placeholder = "04-08-2019" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-6 col-xs-4" for="CustContact">
                            @Html.LabelFor(c => c.Quantity) <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-8">
                            @Html.TextBoxFor(c => c.Quantity, null, htmlAttributes: new { @class = "form-control", required = "required", placeholder = "01316347466" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-6 col-xs-4" for="number">
                            @Html.LabelFor(c => c.UnitPrice) <span class="required"></span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-8">
                            @Html.TextBoxFor(c => c.UnitPrice, null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-6 col-xs-4" for="CustContact">
                            @Html.LabelFor(c => c.AvQuantity) <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-8">
                            @Html.TextBoxFor(c => c.AvQuantity, null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-4">
                            <button style="float:right; right:0px;" id="Add" type="submit" class="btn btn-success">Add</button>
                        </div>
                    </div>

                </div>
                <div class="col-md-7 col-sm-12 col-xs-7">
                    <span class="section">Sales Add</span>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Product</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-right">Unit Price</th>
                                    <th class="text-right">Total Price</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Pencile</td>
                                    <td class="text-center">10</td>
                                    <td class="text-right">10.00</td>
                                    <td class="text-right">100.00</td>
                                    <td class="text-center">Delete</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-right" colspan="4" style="vertical-align:middle;">Grand Total(Tk.)</th>
                                    <td width="120" class="text-right"><input class="form-control text-right" type="text" name="GrandTotal" value="100.00" /></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="text-right" colspan="4" style="vertical-align:middle;">Discount(%)</th>
                                    <td width="120" class="text-right"><input class="form-control text-right" type="text" name="GrandTotal" value="100.00" /></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="text-right" colspan="4" style="vertical-align:middle;">Discount Amount</th>
                                    <td width="120" class="text-right"><input class="form-control text-right" type="text" name="GrandTotal" value="100.00" /></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="text-right" colspan="4" style="vertical-align:middle;">Payable Amount(Tk.)</th>
                                    <td width="120" class="text-right"><input class="form-control text-right" type="text" name="GrandTotal" value="100.00" /></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /page content -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <form class="form-horizontal form-label-left" novalidate action="" method="post" enctype="multipart/form-data">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Customer Add Form</h4>
                </div>
                <div class="modal-body">
                    code here...............

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>         