<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>.::Admin-Panel::.</title>
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <script src="~/Content/vendors/nprogress/nprogress.js"></script>
    <link href="~/Content/green.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-progressbar-3.3.4.css" rel="stylesheet" />
    <link href="~/Content/jqvmap.min.css" rel="stylesheet" />
    <link href="~/Content/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/custom.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Styles/sweetalert.css" rel="stylesheet" />
    <script src="~/Styles/SweetAlert.js"></script>
    <link href="~/Content/sweetalert.min.css.map" />
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index","Home")" class="site_title"><i class="fa fa-paw"></i> <span>Small Business Management System!</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">

                            <img alt="..." class="img-circle profile_img" src="~/images/img.jpg" />
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>Kanak</h2>
                         
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">




                                <li>
                                    <a><i class="fa fa-desktop"></i>Category<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("SaveCategory","Category")">Category Setup</a></li>
                                        <li><a href="@Url.Action("Index","Category")">Category List</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-desktop"></i>Product<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("SaveProduct","Product")">Product Setup</a></li>
                                        <li><a href="@Url.Action("Index","Product")">Product List</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-desktop"></i> Party Module<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Insert","CustomerInfo")">Customer Setup </a></li>
                                        <li><a href="@Url.Action("FindAll","CustomerInfo")">Customer List </a></li>
                                        <li><a href="@Url.Action("Add","Supplier")">Supplier Setup</a></li>
                                        <li><a href="@Url.Action("Show","Supplier")">Supplier List</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-desktop"></i>Purchase Module<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("InsertPurchaseProduct","Purchase")">  Purchase Entry </a></li>
                                        <li><a href="@Url.Action("Index","Purchase")">Purchase List </a></li>
                                        @*<li><a href="#">Purchase Confirm</a></li>
                                            <li><a href="#">Purchase Search </a></li>*@
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-desktop"></i>Sales Module <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("BatchSalesAdd","Sales")"> Sales Entry </a></li>
                                        <li><a href="@Url.Action("FindAll","Sales")">Sales List</a></li>
                                        @*<li><a href="#">Sales Confirm</a></li>
                                            <li><a href="#">Sales Search </a></li>*@
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-desktop"></i> Stock Module <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Search","Stock")">Periodical Stock Report</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-desktop"></i>Reporting Module <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("PeriodictIncomeReport","Reporting")">Periodic Income Expense Report on Sales </a></li>
                                        <li><a href="@Url.Action("PeriodicIncomeExpenseOnPurchase","Reporting")">Periodic Income Expense Report on Purchase </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                      
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="/Login/Index">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        @if (ViewBag.SuccessMsg != null)
                        {
                            <div id="alert"><i class="fa fa-check-square-o"></i> @ViewBag.SuccessMsg</div>
                        }
                        @if (ViewBag.FailMsg != null)
                        {
                            <div id="danger"> <i class="fa fa-close"></i>@ViewBag.FailMsg</div>
                        }
                            <ul class="nav navbar-nav navbar-right">
                             
                                
                              
                               

                                <li role="presentation" class="dropdown">
                                   
                                </li>
                            </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="row">
                        @RenderBody()
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Developed & Maintained By- <a href="#">Ibrahim & Kanak</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/SweetAlert.js"></script>
    <!-- jQuery -->
    <a href="~/Scripts/sweetalert.json">~/Scripts/sweetalert.json</a>
    <script src="~/Scripts/validator.js"></script>
    @*<script src="~/Scripts/jquery-3.0.0.min.js"></script>*@
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/validator.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Scripts/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Scripts/nprogress.js"></script>
    <!-- validator -->
    @*<script src="~/Scripts/validator.js"></script>*@
    <!-- Custom Theme Scripts -->
    <script src="~/Scripts/custom.min.js"></script>
    <script src="~/Scripts/SweetAlert.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <link href="~/Styles/sweetalert.css" rel="stylesheet" />
    @RenderSection("Scripts", false)
</body>
</html>
